@font-face
  font-family NotoMono
  src url('./assets/NotoMono-Regular.ttf')

div
  font-family NotoMono

html, body
  margin 0
  overflow hidden

#gameCanvas
  z-index 0
  width 100%
  height 100%
  margin 0
  pointer-events all